/** footer is always at the bottom of the page */
body {
    /* Your CSS properties here */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/** make the h1-h6 a little smaller than normal */
h1 {
    font-size:1.75em;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

label {
    font-size: 0.9rem;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: #f5f5f5;
}

label {
    display: block;
}

.policy-documents {
    display:none;
}